<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="static/showdown.min.js"></script>
<script src="static/react.js"></script>
</head>
<body>
	{{& rendered}}
	<script src="build/comments.js"></script>
	<script>{{& clientjs}}</script>
</body>
</html>
